
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}


hr {
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 20px 0; 
}


h1 {
    color: #333; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}


h2 {
    color: #000000; 
    margin-top: 20px; 
    margin-bottom: 10px; 
}


p {
    color: #666; 
    margin: 0 20px; 
    padding: 0 10px; 
}


div {
    margin: 20px;
    padding: 10px;  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
